* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

.navbar {
    background-color: #b7c8f8;
    overflow: hidden;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #84a3f8;
    border-radius: 5px;
}

.navbar a.active {
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #content {
    padding-top: 50px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}
